:root {
    --greyText: rgb(101, 119, 134);
    --greydark: rgba(101, 119, 134, 0.45);
}

body {
    background-color: #0099ff;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.loginContainer {
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #dedede;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #dedede;
    background-color: #f2f2f2;
}

input[type="submit"] {
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
}

.editLabel {
    text-align: left; 
    color: var(--greyText)
}

.usernameDisabled {
    background-color: var(--greydark) !important;
}

#passErrorMessageDisabled {
    color: red;
    text-align: left;
    opacity: 0;
    margin: -20px 0 20px 0;
}

.passErrorMessageEnabled {
    opacity: 1 !important;
}